
.name-market{
  font-size: 14px;
  color: gray;
}

.card{
  min-width: 150px;
}

.options{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(63, 81, 181);
  color: white;
  border-color: rgb(63, 81, 181);
}

.selected{
  background-color: green;
}
